.header1, h1 {
  font-size: 66px;
  line-height: 0.985;
  font-weight: 300;
}
.header2, h2 {
  font-size: 44px;
  line-height: 0.995;
  font-weight: 300;
}
.header3, h3 {
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
}
.header4, h4 {
  font-size: 24px;
  line-height: 0.975;
  font-weight: 600;
}
.header5, h5 {
  font-size: 20px;
  line-height: 0;
  font-weight: 600;
}
.header6, h6 {
  font-size: 18px;
  line-height: 1.015;
  font-weight: 600;
}

.sub-title1 {
  font-size: 16px;
  line-height: 1.015;
  font-weight: 400;
}
.sub-title2 {
  font-size: 14px;
  line-height: 0.1;
  font-weight: 500;
}
.txt-body1 {
  font-size: 16px;
  line-height: 1.05;
  font-weight: 400;
}
.txt-body2 {
  font-size: 14px;
  line-height: 1.025;
  font-weight: 400;
}
.txt-button {
  font-size: 14px;
  line-height: .87;
  font-weight: 500;
  text-transform: uppercase;
}
.caption {
  font-size: 12px;
  line-height: 1.04;
  font-weight: 400;
  color: #fff8;
}
.overline {
  font-size: 10px;
  line-height: 1.015;
  font-weight: 400;
  text-transform: uppercase;
}

#content > ul {
  padding-left: 25px;
  list-style: inside;
}
#content > ul > li{
  line-height: 2rem;
}

#content a {
  color: #00b3ba;
}