@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url(./css-module/tables.css);
@import url(./css-module/sidebar.css);
@import url(./css-module/primitive.css);
@import url(./css-module/codes.css);
@import url(./css-module/palette.css);

html, *, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, th, td, li, code {
  color: #F2F2F2;
}

html {
  background-color: #000;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* padding: 0 10px; */
  display: flex;
}
/* html { */
  /* background-image: url(https://ak.picdn.net/shutterstock/videos/33849220/thumb/12.jpg);
  background-size: cover;
  background-attachment: fixed; */
/* } */

[class|='avatar'] {
  border: 1px solid #fff4;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(58, 187, 247);
}

[class*='s50'] {
  width: 50px;
  height: 50px;
}

[class*='s45'] {
  width: 45px;
  height: 45px;
}

[class*='s40'] {
  width: 40px;
  height: 40px;
}

.input-text {
  position: relative;
}
.input-text input {
  outline: 0;
  border:0;
  background-color: #fff2;
  border-radius: 10px;
  color: #fff;
  padding: 12px 10px 12px 35px;
  width: 100%;
}

input::placeholder {
  color: #fff5;
}

.input-text > [class$="-icon"] {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main > *{
  margin-bottom: 20px;
}

main {
  /* display: flex;
  flex-direction: column;
  row-gap: 20px; */
  background-color: #141515;
  padding: 10px 15px;
  width: 100%;
}